<h1>Index</h1>
<%= link_to("New", new_work_path)  %>

<h3>Top Category</h3>
<ul>
  <% @works.each do |work| %>
  <li>
    <h4><%= work.title %> <small>by <%= work.creator%></small></h4>
    <p>5 votes!!!!</p>
    <%= link_to "Delete", work_path(work.id), method: :delete %>
  </li>
  <% end %>
</ul>
